{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
<div class="col-md-12 contenu-blanc">

    <h1>Les <span> Catégories de produits  </span></h1>
    {{ include('messages.html.twig') }}
    <div class="contenu container">
        <div class="card-columns">
            {% set compteur = 0 %}
            {% set tbCouleurs = ['success', 'danger', 'warning', 'primary', 'light', 'info'] %}
            {% for key, categorie in lesCategories %}
                <a href ="{{ path('produit')}}" style="text-decoration:none; color: inherit;">   
                    <div class="card bg-{{ tbCouleurs[compteur]}}">
                        <div class="card-body text-center">
                            <h1 class="card-text">{{ categorie.libelle }}</h1>
                        </div>
                    </div>
                </a>
                {% set compteur = (compteur + 1) % tbCouleurs|length %}
            {% endfor %}
        </div>
    </div> <!--fin div contenu-->
</div> <!--fin div col-md-6-->

{% endblock %}
