{% extends 'base.html.twig' %}

{% block title %}Client{% endblock %}

{% block body %}
    <div class="container contenu-blanc">
        <h1>Créer un nouveau client</h1>
        {{ include('client/client.html.twig', {form: form, button: 'Enregistrer'}) }}
    </div>
{% endblock %}
